*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

nav{
    border: 2px solid black;
    max-width: 600px;
    margin: 0 auto 1rem;
    font-size: 3rem;
    line-height: 7rem;
    border-radius: 2rem;
}

h1{
    background-color: yellow;
    border-radius: 2rem 2rem 0 0;
    padding:1rem;
}

ul{
    list-style-type: none;
}

ul li{
    border-top: 1px solid black;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    background-color: black;
    color: white;
}

ul li a{
    display: block;
}

ul li:nth-child(5) a{
    border-radius: 0 0 2rem 2rem;
}

