*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.nowrap{
    white-space: nowrap;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
    display: flex;
    flex-direction: column;
}

header,footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header{
    top:0;
}

nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a, nav a:visited{
    color: #000;
}

nav a:hover, nav a:focus{
    color: hsla(0,0%,20%,0.6);
}

main{
   
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card{
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd5e1;
    border: 2pxsolid #000;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    border: 5px double #333;
    border-radius: 50%;
}

.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

footer{
    bottom: 0;
}

@media screen and (min-width: 576px) {
    main{
        justify-content: center;
        flex-wrap: row wrap;
        padding: 1rem;
    }    

    .card{
        width:min(100%, 400px);
    }
}

@media screen and (min-width: 768px) {
    nav{
        display: none;
    }

    .card{
        width: min(100%, 325px);
    }

    .card figure{
        flex-direction: column-reverse;
    }

    .card p{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .card{
        width: min(100%, 400px)
    }
}

@media screen and (min-width: 1200px) {
    .card{
        width: min(33% -1rem, 500px)
    }
}